
/.vs
/MyAppDataAccess/bin
/MyAppDataAccess/obj
/MyAppDB/bin
/MyAppDB/obj
/MyAppPortal/bin
/MyAppPortal/obj
/MyAppRest/bin
/MyAppRest/obj
/MyAppTransferObjects/bin
/MyAppTransferObjects/obj
/MyAppWPF/bin
/MyAppWPF/obj
/MyAppXUnitTest/bin
/MyAppXUnitTest/obj
/MyApp/MyAppGlobalLib/obj
/MyApp/MyAppGlobalLib/bin
/MyApp/MyAppPortalLib/obj
/MyApp/MyAppPortalLib/bin
/MyApp/MyAppRestLib/obj
/MyApp/MyAppRestLib/bin
/MyApp/MyAppWPFLib/obj
/MyApp/MyAppWPFLib/bin
/MyApp/MyAppXUnitTestLib/obj
/MyApp/MyAppXUnitTestLib/bin

